<!DOCTYPE html>
<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <title>Client Visit Data COllection Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
                font-family: Arial, sans-serif;
                background: linear-gradient(to bottom, #3498db, #2980b9);
                text-align: center;
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100vh;

                /* Add the background image */
                background-image: url('https://www.dropbox.com/scl/fi/7itz7ji44ye48qz38poqx/6114100.jpg?rlkey=x58ou9srufn5soqy0c6ok6ww1&raw=1');
                /* Set background image size and properties as needed */
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }


        

        .container {
            background-color: #b2ebf2;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            width: 100%;
            max-width: 400px;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        label,
        input,
        button,
        p {
            margin: 10px;
            font-size: 16px;
            /* Adjust the font size as needed */
        }

        button {
            background-color:#006064;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button#submit-button {
            background-color: #006064;
            /* Change button background color to black */
        }

        #selfieVideo {
            display: none;
        }

        #selfieCanvas {
            display: none;
        }

        #selfieImage {
            display: none;
        }

        .date-input {
            position: relative;
        }

        .custom-placeholder {
            position: absolute;
            top: 10px;
            left: 10px;
            color: #1b0202d8;
            /* Adjust the color as needed */
            pointer-events: none;
        }

        select {
            width: 95%;
            padding: 6px;
            margin: 10px 0;
            margin-left: 10px; 
            box-sizing: border-box;
        }
        input[required].error,
        select[required].error {
            border: 2px solid red;
        }
    </style>
</head>

<body>
    <div class="container">
        <form id="dataForm" onsubmit="return submitForm()" enctype="multipart/form-data">
            <h1>Client Visit Data Collection Form</h1>
            <input type="text" id="bid" name="bid" placeholder="Branch Name" required required list="suggestions-bid">
            <input type="text" id="zone" name="zone" placeholder="Zone" required required list="suggestions-zone">
            <input type="text" id="vila" name="vila" placeholder="Village Name" required >
            <input type="text" id="pincode" name="pincode" placeholder="Pincode" required >
            <input type="number" id="lid" name="lid" placeholder="Loan ID" required>
            <input type="text" id="cn" name="cn" placeholder="Client Name" required >
            <input type="tel" id="phone" name="phone" placeholder="Phone Number" required>
            
            <select id="yesNoQuestion" name="yesNoQuestion" required>
                <option value="" disabled selected hidden>Met with Client?</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>

            <select id="question" onchange="showInputs()" required>
                <option value="" disabled selected hidden>Collection Done?</option>
                <option value="full">Full Payment</option>
                <option value="part">Part Payment</option>
                <option value="nopart">No Payment</option>                
            </select>

    
            <div id="additionalInputs" style="display: none;">
                <input type="number" id="number1" name="number1" placeholder="Amount Received">
                <input type="number" id="number2" name="number2" placeholder="MR Number">
            </div>

            <div id="dateInputContainer" style="display: none;" class="date-input">
                <input type="date" id="date" name="date" required>
                <span class="custom-placeholder">PTP Date</span>
            </div>

            <video id="selfieVideo" autoplay></video>
            <canvas id="selfieCanvas" style="display: none;"></canvas>
            <img id="selfieImage" src="" alt="Selfie" width="200">

            <button type="button" id="selfieButton" onclick="toggleSelfieCapture()">Client Selfie</button>



            <input type="text" id="coordinates" readonly placeholder="Location">
            <button type="button" onclick="getLocation()">Get Location</button><input type="hidden" id="latitude"
                name="latitude">
            <input type="hidden" id="longitude" name="longitude">

            <button type="button" id="submit-button" onclick="submitForm()">Submit Form</button>
            <datalist id="suggestions-bid"></datalist>
            <datalist id="suggestions-zone"></datalist>
        </form>
    </div>
    <script>
        let selfieStream = null;
        let capturingSelfie = false;
        let selfieCaptured = false;
        let selfieDataUrl = null;
        let cn=null;
        function toggleSelfieCapture() {
            if (!capturingSelfie) {
                startCaptureSelfie();
            } else {
                captureSelfie();
            }
        }
        function showInputs() {
            const  questionSelect = document.getElementById("question");
            const  additionalInputs = document.getElementById("additionalInputs");
            const  date = document.getElementById("dateInputContainer");
            // Reset previous selections
            document.getElementById("number1").value = "";
            document.getElementById("number2").value = "";
            document.getElementById("date").value = ""
            const cn=questionSelect.value

            if (questionSelect.value === "full") {
                additionalInputs.style.display = "block";
                dateInputContainer.style.display = "none";
                document.getElementById("number1").setAttribute("required", "true");
                document.getElementById("number2").setAttribute("required", "true");
                document.getElementById("date").removeAttribute("required");
            } 
            if (questionSelect.value === "part") {
                dateInputContainer.style.display = "block";
                additionalInputs.style.display = "block";
                document.getElementById("number1").setAttribute("required", "true");
                document.getElementById("number2").setAttribute("required", "true");
                document.getElementById("date").setAttribute("required","true");
            }
            if (questionSelect.value === "nopart") {
                dateInputContainer.style.display = "block";
                additionalInputs.style.display = "none";
                document.getElementById("number1").removeAttribute("required");
                document.getElementById("number2").removeAttribute("required");
                document.getElementById("date").setAttribute("required","true");
            }
        }
        function startCaptureSelfie() {
            const button = document.getElementById('selfieButton');
            button.textContent = 'Capture Now';

            const video = document.getElementById('selfieVideo');
            selfieStream = null;

            navigator.mediaDevices.getUserMedia({ video: true })
                .then(function (stream) {
                    video.srcObject = stream;
                    video.style.display = 'block';
                    selfieStream = stream;
                    capturingSelfie = true;
                })
                .catch(function (err) {
                    alert('Failed to access the camera: ' + err);
                });
        }
        function dataURLtoBlob(dataURL) {
            const arr = dataURL.split(',');
            const mime = arr[0].match(/:(.*?);/)[1];
            const bstr = atob(arr[1]);
            let n = bstr.length;
            const u8arr = new Uint8Array(n);

            while (n--) {
                u8arr[n] = bstr.charCodeAt(n);
            }

            return new Blob([u8arr], { type: mime });
        }
        function captureSelfie() {
            if (selfieStream) {
                const video = document.getElementById('selfieVideo');
                const canvas = document.getElementById('selfieCanvas');
                const context = canvas.getContext('2d');
                const selfieImage = document.getElementById('selfieImage');

                canvas.width = video.videoWidth;
                canvas.height = video.videoHeight;
                context.drawImage(video, 0, 0, canvas.width, canvas.height);

                selfieDataUrl = canvas.toDataURL('image/jpeg');
                const selfieBlob = dataURLtoBlob(selfieDataUrl);
                console.log(selfieBlob)
                abc = 12123
                const formData = new FormData();
                formData.append('selfie', selfieBlob);
                console.log(document.getElementById('bid').value)
                // Add other form data
                formData.append('bid', document.getElementById('bid').value);
                formData.append('zone', document.getElementById('zone').value);
                console.log(formData)
                formData.append('vila', document.getElementById('vila').value);
                formData.append('pincode', document.getElementById('pincode').value);
                formData.append('lid', document.getElementById('lid').value);
                formData.append('phone', document.getElementById('phone').value);
                formData.append('cn', document.getElementById('cn').value);
                formData.append('latitude', document.getElementById('latitude').value);
                formData.append('longitude', document.getElementById('longitude').value);
                console.log(formData)
                // Add other form fields
                selfieCaptured = true;



                // Display the selfie image to the user
                video.style.display = 'none';
                selfieImage.src = selfieDataUrl;
                selfieImage.style.display = 'block';

                // Stop the camera stream
                selfieStream.getTracks().forEach(track => track.stop());

                // Reset the button text and state
                document.getElementById('selfieButton').textContent = 'Start Capture';
                capturingSelfie = false;
            }
        }

        function customAlert(message) {
                        // Remove existing alert container
                        var existingAlert = document.querySelector('.alert-container');
                        if (existingAlert) {
                            document.body.removeChild(existingAlert);
                        }

                        // Create a new alert container
                        var alertContainer = document.createElement('div');
                        alertContainer.className = 'alert-container';
                        alertContainer.style.position = 'fixed';
                        alertContainer.style.top = '50%';
                        alertContainer.style.left = '50%';
                        alertContainer.style.transform = 'translate(-50%, -50%)';
                        alertContainer.style.background = '#fff';
                        alertContainer.style.border = '1px solid #ccc';
                        alertContainer.style.padding = '15px';
                        alertContainer.style.borderRadius = '5px';
                        alertContainer.style.boxShadow = '0 0 10px rgba(0, 0, 0, 0.5)';
                        alertContainer.style.zIndex = '1000';

                        var alertText = document.createElement('p');
                        alertText.textContent = message;
                        alertContainer.appendChild(alertText);

                        document.body.appendChild(alertContainer);

                        // Hide the alert after 3 seconds (adjust as needed)
                        setTimeout(function () {
                            document.body.removeChild(alertContainer);
                        }, 10000);
}

        function getLocation() {
            if (navigator.onLine) {
                if (navigator.geolocation) {
                    let accuracyAchieved = false; // Flag to track if accuracy is achieved
                    let watchId;

                    // Function to handle successful location updates
                    function successCallback(position) {
                        if (position.coords.accuracy <= 15) {
                            document.getElementById('latitude').value = position.coords.latitude.toFixed(7);
                            document.getElementById('longitude').value = position.coords.longitude.toFixed(7);
                            document.getElementById('coordinates').value = `Latitude: ${position.coords.latitude.toFixed(7)}, Longitude: ${position.coords.longitude.toFixed(7)}`;

                            // Set the flag to true to indicate accuracy is achieved
                            accuracyAchieved = true;
                            if (watchId) {
                                    navigator.geolocation.clearWatch(watchId);
                                }
                        } else {
                            customAlert(`Location accuracy is ${position.coords.accuracy} meters, which is greater than 15 meters. Retrying...`);
                        }
                    }

                    // Function to handle errors
                    function errorCallback(error) {
                        customAlert('Error getting location: ' + error.message);
                    }

                    // Options for geolocation (optional)
                    var options = {
                        enableHighAccuracy: true,  // Request high accuracy
                        timeout: 30000,             // Maximum time (in milliseconds) to wait for location data
                        maximumAge: 0              // Maximum age (in milliseconds) of cached location data
                    };

                    // Start watching for position changes
                    navigator.geolocation.watchPosition(successCallback, errorCallback, options);

                    // Check for accuracy flag in a loop and exit the function when achieved
                    const checkAccuracy = setInterval(function () {
                        if (accuracyAchieved) {
                            clearInterval(checkAccuracy); // Stop the loop
                        }
                    }, 1000); // Check every second (adjust as needed)
                } else {
                    customAlert('Geolocation is not supported by your device.');
                }
            } else {
                customAlert('You are currently offline. Please connect to the internet and try again.');
            }
        }

        const apiUrl = 'https://afpldist.onrender.com';
        // Start the getLocation function initially
        function setupAutoSuggestion(inputId, dataListId, dbId) {
            const input = document.getElementById(inputId);
            const dataList = document.getElementById(dataListId);

            // Use lodash debounce to add a 2-second delay
            const handleInputDebounced = _.debounce(async () => {
                const inputValue = input.value.trim();

                // Clear previous suggestions
                dataList.innerHTML = '';

                // Make a request to the server for suggestions only if the input is not empty
                if (inputValue !== '') {
                    const response = await fetch(`${apiUrl}/sugg?input=${inputValue}&db=${dbId}`);
                    const suggestions = await response.json();

                    // Populate datalist with suggestions
                    suggestions.forEach((suggestion) => {
                        const option = document.createElement('option');
                        option.value = suggestion;
                        dataList.appendChild(option);
                    });
                }
            }, 2000); // 2000 milliseconds debounce time (2 seconds)

            // Attach the debounced function to the input event
            input.addEventListener('input', handleInputDebounced);
        }


        // Apply the auto-suggestion function to specific text boxes with different IDs and database IDs
        setupAutoSuggestion('bid', 'suggestions-bid', 'branch');
        setupAutoSuggestion('zone', 'suggestions-zone', 'zone');


        function validateForm() {
            // Check if location is obtained before allowing form submission
            const coordinates = document.getElementById('coordinates').value;
            if (!coordinates) {
                alert('Please click "Get Location" before submitting.');
                return false;
            }
            return true;
        }
        function submitForm() {
    // Capture selfie if not already captured
    if (!selfieCaptured) {
        console.log('reached')
        captureSelfie();
    }
    // Validate form fields
    const form = document.getElementById('dataForm');
    const inputs = form.querySelectorAll('input[required], select[required]');
    
    inputs.forEach(input => {
        input.classList.remove('error');
    });

    // Check each input/select and mark those that are not filled
    let formIsValid = true;
    inputs.forEach(input => {
        if (!input.value.trim()) {
            input.classList.add('error');
            formIsValid = false;
        }
    });

    for (const input of inputs) {
        if (!input.value.trim()) {
            alert(`Please fill in all the required fields.`);
            return false;
        }
    }

    // Check if location is obtained before allowing form submission
    const coordinates = document.getElementById('coordinates').value;
    if (!coordinates) {
        alert('Please click "Get Location" before submitting.');
        return false;
    }

    // Submit the form data
    const formData = new FormData(form);
    const questionDropdown = document.getElementById('question');
    const selectedOption = questionDropdown.options[questionDropdown.selectedIndex].value;

    // Now, you can use the "selectedOption" variable to save it in the database or perform other action
    formData.append('selfie', selfieDataUrl);
    formData.append('question', selectedOption);
    fetch('https://afpldist.onrender.com/fdata/', {
        method: 'POST',
        body: formData,
    })
        .then(response => response.json())
        .then(data => {
            // Handle the server response
            console.log('Server Response:', data);
            if (data) {
                alert('Successfully saved!'); // You can replace this with a more user-friendly message
                window.location.href = window.location.href; // Refresh the page
            }
        })
        .catch(error => {
            console.error('Error:', error);
        })
    return false;
};
    </script>
</body>

</html>
